<div class="grid" (mouseleave)="onGridMouseLeave()">
  <div class="row" *ngFor="let row of grid; index as i">
    <div *ngFor="let cell of grid[i]; index as j" [id]="i+'-'+j"
         [class]="cell.cssClass"
         (mousedown)="onCellMouseDown($event, cell)"
         (mouseup)="onCellMouseUp($event)"
         (mouseenter)="onCellMouseEnter(cell)"
         (mouseleave)="onCellMouseLeave(cell)"
         (contextmenu)="onRightClick($event, cell)">
      <span *ngIf="cell.weight !== 1">{{cell.weight}}</span>

      <div class="icon-container" *ngIf="cell.isStart"
           (mousedown)="onIconMouseDown(cell)">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div>

      <div class="icon-container" *ngIf="cell.isTarget" (mousedown)="onIconMouseDown(cell)">
        <mat-icon>star</mat-icon>
      </div>

      <div class="icon-container" *ngIf="cell.isConstraint" (mousedown)="onIconMouseDown(cell)">
        <mat-icon>priority_high</mat-icon>
      </div>
    </div>
  </div>
</div>
