<div class="header">

  <button mat-raised-button (click)="onNewArrayClicked()">New Array</button>

  <div>
    <mat-label>Change Array Size</mat-label>
    <mat-slider (input)="sizeSliderChange($event)" thumbLabel min="20" max="150" step="10"
                [(ngModel)]="size"></mat-slider>
  </div>

  <div>
    <mat-label>Change Animation Velocity</mat-label>
    <mat-slider [disabled]="!animationCompleted" (input)="velocitySliderChange($event)" thumbLabel min="5" max="20" step="1"
                [(ngModel)]="velocity"></mat-slider>
  </div>

  <div id="selection-container">
    <mat-form-field>
      <mat-select [(value)]="selectedAlgorithm" [disabled]="!animationCompleted">
        <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm">
          {{algorithm.toString()}}
        </mat-option>

      </mat-select>
    </mat-form-field>
  </div>

  <div class="button-wrapper">
    <button [class]="playButtonClass" id="play-button" (click)="onPlayClicked()">
      <mat-icon class="big">play_circle_outline</mat-icon>
    </button>
    <button id="pause-button" [class]="pauseButtonClass" mat-fab (click)="onPauseClicked()">
      <mat-icon class="big">pause_circle_outline</mat-icon>
    </button>
  </div>
</div>

<div class="container">

  <app-array-bar-chart (animationFinishedEventEmitter)="onAnimationFinished()"
                       [velocity]="velocity"
                       [svgArray]=" array | svgBarPipe "
                       [startEvent]="startSubject.asObservable()"
                       [resetEvent]="resetSubject.asObservable()">
  </app-array-bar-chart>
</div>
