#selection-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0 100px;
  background-color: #3f51b5;
  margin-bottom: 20px;
}

mat-slider {
  width: 200px;
  margin: 0 50px;
  padding: 0;
}

mat-select {
  font-size: 18px;
  margin: 0 50px;
}

::ng-deep .mat-select-value{
  color: #ff4081 !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  background-color: #ff4081;
  color: white;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
}

button.hidden{
  display: none;
}

mat-label {
  font-size: 20px;
  color: #ff4081;
}

.mat-select-value, mat-select  span, mat-option{
  color: #ff4081;
}

mat-icon{
  transform: scale(2.5);
  color: white;
}

.button-wrapper{
  margin-left: 150px;
}

