#selection-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0 100px;
  background-color: var(--primary-color);
  margin-bottom: 20px;
}

::ng-deep mat-slider {
  width: 200px;
  margin: 0 50px;
  padding: 0;
  color: var(--secondary-color) !important;
}

mat-select {
  font-size: 18px;
  margin: 0 50px;
}

::ng-deep .mat-select-value{
  color:  var(--secondary-color) !important;
}

.mat-select-value, mat-select  span, mat-option{
  color:  var(--secondary-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: var(--secondary-color) !important;
  color: white;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
}


button.hidden{
  display: none;
}

mat-label {
  font-size: 20px;
  color:  var(--secondary-color);
  text-align: center;
  display: block;
}


mat-icon{
  transform: scale(2.5);
  color: white;
}

.button-wrapper{
  margin-left: 150px;
}

#play-button, #pause-button{
  background-color: var(--secondary-color) !important;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border-color: transparent;
}

mat-icon:hover{
  cursor: pointer;
}

