.header{
  height: 5vmin;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

button{
  font-size: 1.8vmin;
  font-weight: bold ;
}
