.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vmin;
  padding: 0;
  background-color: var(--primary-color);
  margin-bottom: 2vmin;
}

.algorithm-selection-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-selection-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vmin;
}

mat-select {
  min-width: 5vmin;
  font-size: 1.5vmin;
  margin: 0 3vmin;
}

::ng-deep .mat-select-value{
  color:  var(--secondary-color) !important;
}

.mat-select-value, mat-select  span, mat-option{
  color:  var(--secondary-color);
}

.input-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-label {
  font-size: 1vmin;
  color:  var(--secondary-color);
  text-align: center;
  margin-left: 0.8vmin;
}

mat-label.input{
  font-size: 1.3vmin;
  color:  var(--secondary-color);
  text-align: center;
  display: block;
}


mat-icon.legend{
  color: var(--secondary-color);
}

.legend-wrapper{
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0;
  margin: 0;
}


.legend-item-wrapper{
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0;
  margin-top: 0.4vmin;
  margin-bottom: 0.4vmin;
}

.icon-legend-wrapper, .color-legend-wrapper{
  margin-right: 3vmin;
}


.icon{
  width: 1.5vmin;
  height: 1.5vmin;
  border-color: #d7d7d7;
  margin-left: 0.4vmin;
}

#unvisited-icon, #weighted-icon{
  background-color: white;
}


#visited-icon{
  background-color: rgb(175, 216, 248);
}

#path-icon{
  background-color: rgb(255, 254, 106);
}

#wall-icon{
  background-color: rgb(12, 53, 71);
}

button {
  background-color: var(--secondary-color);
  color: white;
  margin-right: 0.8vmin;
}

button.hidden{
  display: none;
}

::ng-deep mat-slider {
  width: 10vw;
  margin: 0 3vmin;
  padding: 0;
  color: var(--secondary-color) !important;
}

#play-button, #pause-button{
  background-color: var(--secondary-color) !important;
  width: 4vmin;
  height: 4vmin;
  border-radius: 100%;
  border-color: transparent;
}

mat-icon.play, mat-icon.pause{
  transform: scale(2.5);
  color: white;
}

.button-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10vmin;
}

mat-icon.play:hover, mat-icon.pause:hover{
  cursor: pointer;
}

p{
  font-size: 1.5vmin;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
}

span.distance{
  font-weight: bold;
  font-size: 1.6vmin;
  text-align: center;
  color: red;
}

