<div class="header">
  <div class="legend-wrapper">
    <div class="icon-legend-wrapper">
      <div class="legend-item-wrapper">
        <mat-icon class="legend">keyboard_arrow_right</mat-icon>
        <mat-label>Start Node</mat-label>
      </div>
      <div class="legend-item-wrapper">
        <mat-icon class="legend">star</mat-icon>
        <mat-label>Target Node</mat-label>
      </div>
      <div class="legend-item-wrapper">
        <mat-icon class="legend">priority_high</mat-icon>
        <mat-label>Constraint Node</mat-label>
      </div>
    </div>
    <div class="color-legend-wrapper">
      <div class="legend-item-wrapper">
        <div class="icon" id="unvisited-icon"></div>
        <mat-label>Unvisited Node</mat-label>
      </div>
      <div class="legend-item-wrapper">
        <div class="icon" id="visited-icon"></div>
        <mat-label>Visited Node</mat-label>
      </div>
      <div class="legend-item-wrapper">
        <div class="icon" id="path-icon"></div>
        <mat-label>Shortest-Path Node</mat-label>
      </div>
    </div>
    <div class="color-legend-wrapper">
      <div class="legend-item-wrapper">
        <div class="icon" id="wall-icon"></div>
        <mat-label>Wall Node</mat-label>
      </div>
      <div class="legend-item-wrapper">
        <div class="icon" id="weighted-icon"><span>N</span></div>
        <mat-label>Weighted Node</mat-label>
      </div>
    </div>
  </div>

  <div class="input-wrapper">
    <button mat-raised-button (click)="reset()">Clear</button>

    <div>
      <mat-label class="input">Change Animation Velocity</mat-label>
      <mat-slider [disabled]="!animationCompleted" (input)="velocitySliderChange($event)" thumbLabel min="5" max="20"
                  step="1"
                  [(ngModel)]="velocity"></mat-slider>
    </div>

    <div class="algorithm-selection-container">
      <mat-form-field>
        <mat-select (selectionChange)="onAlgorithmChange($event)"
          [(value)]="selectedAlgorithm" [disabled]="!animationCompleted">
          <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm">
            {{algorithm.toString()}}
          </mat-option>

        </mat-select>
      </mat-form-field>
    </div>

<!--    <div id="check-box-container">-->
<!--      <mat-label class="input">Diagonal Link</mat-label>-->
<!--      <input class="checkbox" type="checkbox" [disabled]="!animationCompleted" [checked]="diagonal" (change)="diagonal = !diagonal"/>-->
<!--    </div>-->


    <div class="button-wrapper">
      <button id="play-button" [class]="playButtonClass" appDebounceClick [debounceTime]="20" (debounceClick)="onPlayClicked()">
        <mat-icon class="play">play_circle_outline</mat-icon>
      </button>
      <button id="pause-button" [class]="pauseButtonClass" appDebounceClick [debounceTime]="20" (debounceClick)="onPauseClicked()">
        <mat-icon class="pause">pause_circle_outline</mat-icon>
      </button>
    </div>
  </div>
</div>

<p [innerHTML]="algorithmDescription"></p>
<p>The distance from start to target is
  <span *ngIf="distance!==0 && distance<10000" class="distance" [innerHTML]="distance"></span>
  <span *ngIf="animationCompleted && distance > 10000" class="distance">Unreachable!</span>
</p>

<div class="container">
  <app-grid-svg (animationFinishedEventEmitter)="onAnimationFinished($event)"
                [velocity]="velocity"
                [diagonal]="diagonal"
                [algorithm]="selectedAlgorithm"
                [resetEvent]="resetSubject.asObservable()"
                [startEvent]="startSubject.asObservable()"></app-grid-svg>
</div>

