.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0;
  background-color: var(--primary-color);
  margin-bottom: 30px;
}

.algorithm-selection-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-selection-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

mat-select {
  font-size: 20px;
  margin: 0 50px;
  transform: scale(1);
}

::ng-deep .mat-select-value{
  color:  var(--secondary-color) !important;
}

.mat-select-value, mat-select  span, mat-option{
  color:  var(--secondary-color);
}

.input-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-label {
  font-size: 14px;
  color:  var(--secondary-color);
  text-align: center;
  margin-left: 10px;
}

mat-label.input{
  font-size: 18px;
  color:  var(--secondary-color);
  text-align: center;
  display: block;
}


mat-icon.legend{
  color: var(--secondary-color);
}

.legend-wrapper{
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0;
  margin: 0;
}


.legend-item-wrapper{
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.icon-legend-wrapper, .color-legend-wrapper{
  margin-right: 50px;
}


.icon{
  width: 20px;
  height: 20px;
  border-color: #d7d7d7;
  margin-left: 5px;
}

#unvisited-icon, #weighted-icon{
  background-color: white;
}


#visited-icon{
  background-color: rgb(175, 216, 248);
}

#path-icon{
  background-color: rgb(255, 254, 106);
}

#wall-icon{
  background-color: rgb(12, 53, 71);
}

button {
  background-color: var(--secondary-color);
  color: white;
  margin-right: 10px;
}

button.hidden{
  display: none;
}

::ng-deep mat-slider {
  width: 200px;
  margin: 0 50px;
  padding: 0;
  color: var(--secondary-color) !important;
}

#play-button, #pause-button{
  background-color: var(--secondary-color) !important;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border-color: transparent;
}

mat-icon.play, mat-icon.pause{
  transform: scale(2.5);
  color: white;
}

.button-wrapper{
  margin-left: 150px;
}

mat-icon.play:hover, mat-icon.pause:hover{
  cursor: pointer;
}

p{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
}

#distance{
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: red;
}

